soap-test/src/main/resources/services/test18/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://tempuri.org/encodedTypes" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <s:schema targetNamespace="http://tempuri.org/encodedTypes">
            <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <s:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <s:complexType name="ArrayOfTest">
                <s:complexContent mixed="false">
                    <s:restriction base="soapenc:Array">
                        <s:attribute d7p1:arrayType="s0:Test[]" ref="soapenc:arrayType"
                                     xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/"/>
                    </s:restriction>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Test">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="S" type="s:string"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </types>

    <message name="SayHelloWorldSoapIn"/>
    <message name="SayHelloWorldSoapOut">
        <part name="SayHelloWorldResult" type="s0:ArrayOfTest"/>
    </message>

    <portType name="HelloWorldSoap">
        <operation name="SayHelloWorld">
            <input message="tns:SayHelloWorldSoapIn"/>
            <output message="tns:SayHelloWorldSoapOut"/>
        </operation>
    </portType>

    <binding name="HelloWorldSoap" type="tns:HelloWorldSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="SayHelloWorld">
            <soap:operation soapAction="http://tempuri.org/SayHelloWorld" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="http://tempuri.org/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://tempuri.org/"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <binding name="HelloWorldSoap12" type="tns:HelloWorldSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="SayHelloWorld">
            <soap12:operation soapAction="http://tempuri.org/SayHelloWorld" soapActionRequired="true" style="rpc"/>
            <input>
                <soap12:body use="encoded" namespace="http://tempuri.org/"
                             encodingStyle="http://www.w3.org/2001/12/soap-encoding"/>
            </input>
            <output>
                <soap12:body use="encoded" namespace="http://tempuri.org/"
                             encodingStyle="http://www.w3.org/2001/12/soap-encoding"/>
            </output>
        </operation>
    </binding>

    <service name="HelloWorld">
        <port name="HelloWorldSoap" binding="tns:HelloWorldSoap">
            <soap:address location="http://localhost/bugs/soap12/helloworld.asmx"/>
        </port>

        <port name="HelloWorldSoap12" binding="tns:HelloWorldSoap12">
            <soap12:address location="http://localhost/bugs/soap12/helloworld.asmx"/>
        </port>
    </service>

</definitions>