soap-builder/src/test/resources/services/test15/stockquote-schema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema targetNamespace="http://centeractive.com/stockquote.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="TradePriceRequest">
        <complexType>
            <all>
                <element name="tickerSymbol" type="string"/>
            </all>
        </complexType>
    </element>
    <element name="TradePrice">
        <complexType>
            <all>
                <element name="price" type="float"/>
            </all>
        </complexType>
    </element>
</schema>